<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Connect ~ Visual DB</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/starter-template.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
  </head>
  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="about">Visual DB</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Connect</a></li>
            <li class="active">
              <a href="databases">Databases<% if $db_name %> :: <span style="color:green"><%= $db_name %></span><% end %></a>
            </li>
            <li><a href="tables">Tables<% if $table_name %> :: <%= $table_name %><% end %></a></li>
            <li><a href="query">Query</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">

      <div class="starter-template">
        
        <% if $db_name %>
          <h3>Using <span style="color:green"><%= $db_name %></span> Database</h3>
        <% else %>
          <h3>Please select Database</h3>
        <% end %>
        <% unless $db_error.nil? %>
          <div class="db_err"><%= $db_error %></div>
        <% end %>
        <% unless $db_success.nil? %>
          <div class="db_update">Query OK: <%= $db_success %> Rows Affected</div>
        <% end %>

        <div class="well db_well">
          
          <form method="post" action="/databases" style="margin-top:20px;">
            <select class="form-control" name="select_database" id="select_database">
              <% $db_list.each do |database| %>
                <% if database == $db_name %>
                  <option selected><%= database %></option>
                <% else %>
                  <option><%= database %></option>
                <% end %>
              <% end %>
            </select>
            <% if $db_list.length > 0 %>
              <input class="btn btn-block btn-primary db_btn" type="submit" value="Use Database">
          <% end %>
          </form>
          
          <hr>

          <form style="" method="post" action="/database">
            <input class="form-control" name="database" value="" placeholder="Database Name">
            <input type="hidden" name="action" value="create">
            <input class="btn btn-block db_btn" type="submit" value="Create Database">
          </form>
          
          <form method="post" action="/database" style="margin-top:30px">
            <input type="hidden" name="action" value="delete">
            <select class="form-control" name="database" id="database">
              <% $db_list.each do |database| %>
                <option><%= database %></option>
              <% end %>
            </select>
            <input class="btn btn-block db_btn" type="submit" value="Delete Database">
          </form>
        </div><!--/.well -->
    </div><!-- /.starter-template -->
  </div><!-- /.container -->

  <script type="javascript">
  </script>
  </body>
</html>
