<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

  <title>Connect ~ Visual DB</title>

  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/starter-template.css" rel="stylesheet">
</head>
<body>

  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="about">Visual DB</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/">Connect</a></li>
          <li><a href="databases">Databases<% if $db_name %> :: <%= $db_name %><% end %></a></li>
          <li class="active"><a href="tables">Tables<% if $table_name %> :: <%= $table_name %><% end %></a></li>
          <li><a href="query">Query</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>

  <div class="container">

    <div class="starter-template">
      <% if $table_name %>
        <h2>Inspecting <span style="color:green"><%= $table_name %></span> from <span style="color:green"><%= $db_name %></span></h2>
      <% else %>
        <h2>Please select a Table from "<%= $db_name %>"</h2>
      <% end %>
      <% if !$db_error.nil? %>
         <div style="color:red"><%= $db_error %></div>
      <% end %>
      
      <div style="margin-left:auto; margin-right:auto">
        <div class="well" style="width:600px; margin-left:auto; margin-right:auto; margin-top:40px; margin-bottom:60px;" >
          <div style="margin-top:0px; margin-bottom:10px;"><b>Number of Tables:</b> <%= $db_tables.length %></div>
          
          <!-- START SELECT TABLE -->
            <form method="post" action="/tables" style="display:inline-block">
              <span style="display:inline-block">
              <select class="form-control" name="select_table" id="select_table" style="width:350px;">
                <% $db_tables.each do |table_name| %>
                <% if table_name == $table_name %>
                <option selected><%=table_name%></option>
                <% else %>
                <option><%=table_name%></option>
                <% end %>
                <% end %>
              </select>
            </span>
            <span style="display:inline-block; margin-left:auto; margin-right:auto; vertical-align:bottom; margin-left:15px;">
              <% if $db_tables.length > 0 %>
              <input class="btn btn-block btn-primary" type="submit" value="Select Table" style="margin-left:auto; margin-right:auto; width:150px"/>
              <% end %>
            </span>
         </form>

          <!-- START CREATE TABLE -->
          <form method="post" action="/table">
            <input type="hidden" name="action" value="create">
            <div style="margin-top:10px; margin-left: auto; margin-right:auto">
              <span style="display:inline-block; margin-left:auto; margin-right:auto;">
                <input class="form-control" name="new_table" value="" placeholder="CREATE TABLE <TABLE_NAME (FIELDS)>" style="width:350px; margin-left: auto; margin-right:auto">
              </span>
              <span style="display:inline-block; margin-left:auto; margin-right:auto; vertical-align:top; margin-left:15px">
                <input class="btn btn-block" type="submit" value="Create New Table" style="margin-left:auto; margin-right:auto; width:150px">
              </span>
            </div>
          </form>

          <!-- START DELETE TABLE -->
          <% if $db_tables.length > 0 %>
          <form method="post" action="/table">
            <input type="hidden" name="action" value="delete">
            <div style="margin-top:10px; margin-left: auto; margin-right:auto">
              <span style="display:inline-block; margin-left:auto; margin-right:auto;">
                <select class="form-control" name="table" id="table" style="width:350px;">
                  <% $db_tables.each do |table_name| %>
                  <% if table_name == $table_name %>
                  <option selected><%=table_name%></option>
                  <% else %>
                  <option><%=table_name%></option>
                  <% end %>
                  <% end %>
                </select>
              </span>
              <span style="display:inline-block; margin-left:auto; margin-right:auto; vertical-align:top; margin-left:15px">
                <input class="btn btn-block" type="submit" value="Delete Table" style="margin-left:auto; margin-right:auto; width:150px">
              </span>
            </div>
          </form>
          <% end %>

          <!-- START INSERT INTO TABLE -->
          <% if $table_name %>          
            
          <hr style="border-color:#CCC">

          <form method="post" action="/table/query">
            <ul style="list-style-type: none; padding:0">
              <li style="margin:0"><b>Number of Rows:</b> <%= $full_table.num_rows %> </li>
              <li><b>Number of Columns:</b> <%= $full_table.num_fields %> </li>
              <li><b>Number of Cells:</b> <%= $full_table.num_rows * $full_table.num_fields %> </li>
            </ul>
            <input type="hidden" name="action" value="insert">
            <div style="margin-left: auto; margin-right:auto">
              <span style="display:inline-block; margin-left:auto; margin-right:auto;">
                <input class="form-control" name="add_row" value="" placeholder="INSERT INTO <% if $db_name %><%= $table_name %><% end %> <(fields) VALUES (values)>" style="width:350px; margin-left: auto; margin-right:auto">
              </span>
              <span style="display:inline-block; margin-left:auto; margin-right:auto; vertical-align:top; margin-left:15px">
                <input class="btn btn-block btn-primary" type="submit" value="Insert Into Table" style="margin-left:auto; margin-right:auto; width:150px">
              </span>
            </div>
          </form>
          
          <!-- START DELETE FROM TABLE -->
          <form method="post" action="/table/query">
            <input type="hidden" name="action" value="delete">
            <div style="margin-top:10px; margin-left: auto; margin-right:auto">
              <span style="display:inline-block; margin-left:auto; margin-right:auto;">
                <input class="form-control" name="delete_row" value="" placeholder="DELETE FROM <% if $db_name %><%= $table_name %><% end %> WHERE <CLAUSE>" style="width:350px; margin-left: auto; margin-right:auto">
              </span>
              <span style="display:inline-block; margin-left:auto; margin-right:auto; vertical-align:top; margin-left:15px">
                <input class="btn btn-block" type="submit" value="Remove from Table" style="margin-left:auto; margin-right:auto; width:150px">
              </span>
            </div>

          </form>
        <% end %>
        </div>
        
        <!-- START TABLE DISPLAY -->
        <% if $full_table %>
        <div style="margin-top:35px; width:100%;">
          <div style="display:table; margin: 0 auto">
            <table style="display:block; max-width:1000px; overflow:scroll;">
              <tr><!--HEADERS-->
                <% $full_table.num_fields.times do |i| %>
                <td style="border:1px solid #000; padding:10px; background-color:#555; color: #FFF">
                  <%= $full_table.fetch_field_direct(i).name %>
                </td>
                <% end %>
              </tr>

              <!--BODY-->
              <% $full_table.num_rows.times do %>
              <tr>
                <% row_contents = $full_table.fetch_row %>
                <% $full_table.num_fields.times do |i| %>
                <td style="border:1px solid #000; padding:7px;">
                  <%= row_contents[i] %>
                </td>
                <% end %>
              </tr>
              <% end %>
            </table>
          </div>
        </div>
        <% end %>
        <!-- END TABLE DISPLAY -->
      </div>
    </div><!-- /.container -->


  </body>
  </html>
